.about {
  background-color: var(--gray1);
}
.about .container {
  display: flex;
}
.about .column {
  padding: 0;
}
.about .text-wrapper {
  position: absolute;
  z-index: 999;
}
.about .image-wrapper {
  position: relative;
  flex-basis: auto;
  overflow: hidden;
  width: 100%;
}
.about .category-name {
  color: var(--gray9);
  text-align: left;
  line-height: 1.3;
  margin-top: var(--space-s);
  margin-bottom: var(--space-xs);
}
.about .category-name::before {
  content: '"';
  position: absolute;
  top: 40px;
  left: -8px;
}
.about .section-description {
  line-height: 1.6;
  color: var(--gray7);
  text-align: left;
}
.about .photo {
  margin-left: 8rem;
}

@media screen and (min-width: 426px) {
  .about .category-name {
    margin-top: var(--space-xs);
  }
  .about .image-wrapper {
    flex-basis: auto;
    width: 30%;
  }
  .about .category-name::before {
    top: 15px;
    left: -10px;
  }
  .about .photo {
    margin-left: var(--space-s);
  }
}

@media screen and (min-width: 769px) {
  .about .image {
    width: 100%;
    margin-bottom: 0;
  }
  .about .category-name {
    margin-top: var(--space-s);
  }
  .about .category-name::before {
    top: 50px;
    left: -15px;
  }
  .about .section-description {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .about .category-name {
    margin-top: var(--space-m);
  }
  .about .category-name::before {
    top: 80px;
    left: -15px;
  }
}

@media screen and (min-width: 1441px) {
  .about .category-name {
    margin-top: var(--space-l);
  }
  .about .category-name::before {
    top: 130px;
    left: -15px;
  }
}
