.about {
  padding: 0;
  margin: 5rem 0 0 0;
  background-color: var(--gray1);
}
.about .columns.is-gapless {
  display: flex;
}
.about .column-fill {
  width: 100%;
}
.about .text {
  display: block;
  width: 100%;
  text-align: center;
}
.about .my-name {
  width: 100%;
  font-size: 1rem;
  font-family: var(--family-serif);
  font-weight: 700;
  color: var(--gray9);
  padding-left: 1rem;
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;
}
.about .my-name::before {
  content: '"';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 10px;
}
.about .my-mission {
  line-height: 1.5;
  color: var(--gray7);
  font-size: 0.7rem;
  text-align: left;
  padding-left: 1rem;
}

@media screen and (min-width: 426px) {
  .about {
    margin: 12.5rem 0 0 0;
    padding: 0 0 0 2rem;
  }
  .about .container {
    margin: 0 0 0 5rem 0;
  }
  .about .my-name {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
  }
  .about .my-name::before {
    top: 15px;
    left: 9px;
  }
  .about .my-mission {
    font-size: 0.8rem;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .about {
    margin: 12.5rem 0 0 0;
    padding: 0;
  }
  .about .image {
    width: 100%;
    margin-bottom: 0;
  }
  .about .text {
    margin-left: 4rem;
  }
  .about .my-name {
    padding: 0;
    font-size: 1.5rem;
    text-align: left;
    margin: 3rem 0 1rem 0;
  }
  .about .my-name::before {
    top: 45px;
    left: 50px;
  }
  .about .my-mission {
    font-size: 1rem;
    text-align: left;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    margin: 12.5rem 0 0 0;
    padding: 0;
  }
  .about .columns.is-gapless {
    margin-left: 5rem;
  }
  .about .text {
    margin-left: 0rem;
  }
  .about .my-name {
    font-size: 2rem;
    margin: 4rem 0 1rem 0;
  }
  .about .my-mission {
    font-size: 1.3rem;
  }
  .about .my-name::before {
    top: 65px;
    left: 70px;
  }
}

@media screen and (min-width: 1216px) {
  .about {
    margin: 12.5rem 0 0 0;
    padding: 0;
  }
  .about .my-mission {
    font-size: 1.6rem;
  }
  .about .my-name {
    font-size: 3rem;
  }
  .about .my-name::before {
    content: '"';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 60px;
    left: 60px;
  }
}
