.bottom .section-description {
  color: var(--gray9);
  margin-bottom: 1rem;
}
.bottom img {
  width: 80%;
  display: block;
  margin: 1rem auto;
}

@media screen and (min-width: 426px) {
  .bottom img {
    width: 60%;
    margin: var(--space-s) auto;
  }
}

@media screen and (min-width: 769px) {
  .bottom img {
    width: 55%;
    margin: 3rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .bottom img {
    width: 60%;
  }
}
