.bottom .container {
  margin: 0;
}
.bottom .section-description {
  color: var(--gray9);
  margin-bottom: 1rem;
}
.bottom img {
  width: 80%;
  display: block;
  margin: 1rem auto 0 auto;
}

@media screen and (min-width: 426px) {
  .bottom img {
    width: 70%;
    margin: var(--space-s) auto 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .bottom .container {
    margin: 0 auto;
  }
}
