:root {
  /* font */
  --family-sans-serif: "Noto Sans KR", sans-serif;
  --family-serif: "Nanum Myeongjo", serif;

  /* color */
  --white: #fff;
  --black: #000;
  --gray1: #f9f9f9;
  --gray2: #f2f2f2;
  --gray3: #ebebeb;
  --gray4: #e2e2e2;
  --gray5: #d4d4d4;
  --gray6: #bbbbbb;
  --gray7: #959595;
  --gray8: #575757;
  --gray9: #353535;
  --gray10: #1a1a1a;

  --pink1: #ffccd6;
  --pink2: #ffb2c2;
  --pink3: #ff99ad;
  --pink4: #ff8099;
  --pink5: #f7607d;
  --pink6: #d95771;
  --pink7: #b2364f;
  --pink8: #8c1c32;
  --pink9: #660a1d;
  --pink10: #40000d;

  --orange1: #ffcdb6;
  --orange2: #ff9e70;
  --green1: #f7fcd3;
  --green2: #ebf4a8;
  --blue1: #8fa8ca;
  --blue2: #3a577e;
  --purple1: #b579df;
  --purple2: #5c2186;
  --purple3: #3d0a61;

  --grey-dark: $gray8;
  --grey-light: $gray2;
  --primary: $pink5;
  --link: $pink7;

  /* margin & padding size */
  --space-xl: 12.5rem;
  --space-l: 8.75rem;
  --space-m: 5rem;
  --space-s: 3rem;
  --space-xs: 1rem;

  /* font size */
  --size-l1: 9.375rem;
  --size-l2: 7.5rem;
  --size-l3: 5.2rem;
  --size-l4: 4.6rem;
  --size-l5: 4.1rem;
  --size-m1: 3.5rem;
  --size-m2: 2.9rem;
  --size-m3: 2.4rem;
  --size-m4: 2rem;
  --size-m5: 1.7rem;
  --size-s1: 1.4rem;
  --size-s2: 1.2rem;
  --size-s3: 1rem;
  --size-s4: 0.9rem;
  --size-s5: 0.8rem;
}

html {
  /* font size for html = 1rem */
  /* 100% means 16px by default */
  /* 1vw = 1% of screen width */
  /* mobile-first media query */
  font-size: 92%;
  /* override elements that don't inherit */
  word-break: keep-all;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

@media screen and (min-width: 769px) {
  html {
    font-size: 95%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
html body {
  font-family: var(--family-sans-serif);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column-fill {
  display: flex;
}

figure,
figure img,
img {
  width: 100%;
  height: 100%;
}

.stretch-vertical {
  display: flex !important;
  align-items: stretch;
}

.is-vertical-middle {
  display: flex;
  align-items: center;
}

.tight-columns {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .tight-columns {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

section {
  padding: var(--space-m) 0;
}

@media screen and (min-width: 769px) {
  section {
    padding: var(--space-l) 0;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: var(--space-xl) 0;
  }
}

.container {
  margin: 0 var(--space-xs);
}

@media screen and (min-width: 426px) {
  .container {
    margin: 0 var(--space-s);
  }
}

@media screen and (min-width: 769px) {
  .container {
    margin: 0 var(--space-m);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 8.2rem;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    margin: 0 auto;
  }
}

/* Typogrphy */

p {
  margin: 0;
}

h1 {
  font-size: var(--size-l1);
}

h2 {
  margin-bottom: 1.5rem;
  color: #1a1a1a;
  font-size: var(--size-m2);
  font-family: var(--family-serif);
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
@media screen and (min-width: 769px) {
  h2 {
    font-size: var(--size-l5);
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: var(--size-l3);
  }
}

h3 {
  font-family: var(--family-serif);
  font-size: var(--size-m5);
  margin-bottom: 1.5rem;
  color: var(--gray10);
  line-height: 1.2;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  h3 {
    font-size: var(--size-m3);
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: var(--size-m2);
  }
}

strong,
.strong {
  font-weight: bold !important;
}

.emphasis {
  color: #fff;
}

.section-description {
  width: 90%;
  margin: 0 auto 2rem auto;
  color: #575757;
  font-size: var(--size-s2);
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .section-description {
    font-size: var(--size-s1);
  }
}
@media screen and (min-width: 1024px) {
  .section-description {
    font-size: var(--size-s1);
  }
}

.description-big {
  font-size: var(--size-s2);
  line-height: 1.5;
}

.description-medium {
  font-size: var(--size-s3);
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .description-medium {
    font-size: var(--size-s2);
  }
}
@media screen and (min-width: 1024px) {
  .description-medium {
    font-size: var(--size-s2);
  }
}
.description-small {
  font-size: var(--size-s4);
  line-height: 1.5;
}

/* Links and Buttons */

a {
  color: var(--pink5);
  transition: all 0.3s;
}
a:hover {
  color: #c00073;
  text-decoration: underline;
}

html button {
  font-size: inherit;
}
html input {
  font-size: inherit;
}

.button {
  cursor: pointer;
  border: none;
}

.button.is-large {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  line-height: 1;
  border-radius: 0.3rem;
}
@media screen and (min-width: 769px) {
  .button.is-large.cta-main {
    padding: 0.5rem 2.5rem;
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .button.is-large.cta-main {
    padding: 0.5rem 2.5rem;
    height: 60px;
  }
}

.cta-main {
  font-weight: bold !important;
  font-size: var(--size-s2) !important;
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67);
  position: relative;
  z-index: 1;
}
.cta-main::before {
  position: absolute;
  border-radius: 0.3rem;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(155deg, #ff4264, #96005a);
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.cta-main:hover::before {
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .cta-main {
    font-size: var(--size-s1) !important;
  }
}

@media screen and (min-width: 1024px) {
  .cta-main {
    font-size: var(--size-m3) !important;
  }
}
