.hero {
    background-color: var(--black);
    height: 35rem;
    padding: 0;
    border-top: 1px var(--black) solid;

}
.hero .container {
    margin: 0;
}
.hero-body {
    padding: 0;
}
.website-headline {
    color: var(--white);
    font-family: var(--family-serif);
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    line-height: 1.2;
    text-shadow: 0 0.5em 0 var(--black);
    margin-top: var(--space-xs);
}
.website-headline .big {
    font-size: var(--size-m1);
}
.website-headline .small {
    font-size: var(--size-s1);
}
.hero .characters {
    position: relative;
    width: 100%;
    height: 100%;
}
.hero .characters img {
    position: absolute;
    height: auto;
    bottom: 0;
    left: 50%;
}
.hero .characters .castle {
    width: 10rem;
    margin-left: -11em;
    bottom: 40%;
    transform: rotate(-11deg);
    opacity: 0.8;
}
.hero .characters .wizard {
    width: 4rem;
    margin-left: -11em;
    bottom: 40%;
    transform: rotate(-10deg);
}
.hero .characters .gam {
    width: 10rem;
    margin-left: -11rem;
    bottom: 5%;
    transform: rotate(3deg);
}
.hero .characters .knight {
    width: 18rem;
    margin-left: 16rem;
    bottom: 14%;
    transform: rotate(7deg);
    opacity: 0.8;
}
.hero .characters .chasa {
    width: 12rem;
    margin-left: 0rem;
    bottom: 23%;
    transform: rotate(-2deg);
}
.hero .characters .man {
    width: 6rem;
    margin-left: 4rem;
    bottom: 20%;
    transform: rotate(6deg);
}
.hero .characters .ahreum {
    width: 18rem;
    margin-left: -10rem;
}
.hero .down-arrow {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 1.5rem auto;
}

@media screen and (min-width: 426px) {
    .hero {
        height: 40rem;
    }
    .website-headline .big {
        font-size: var(--size-l3);
    }
    .website-headline .small {
        font-size: var(--size-m3);
    }
    .hero .characters .castle {
        width: 12rem;
        margin-left: -17em;
        bottom: 30%;
        opacity: 0.8;
    }
    .hero .characters .wizard {
        width: 6rem;
        margin-left: -16em;
        bottom: 25%;
    }
    .hero .characters .gam {
        width: 14rem;
        margin-left: -13rem;
        bottom: 10%;
    }
    .hero .characters .knight {
        width: 18rem;
        margin-left: 16rem;
        bottom: 14%;
        opacity: 0.8;
    }
    .hero .characters .chasa {
        width: 13rem;
        margin-left: 1rem;
        bottom: 25%;
    }
    .hero .characters .man {
        width: 7rem;
        margin-left: 7rem;
        bottom: 20%;
    }
    .hero .characters .ahreum {
        width: 22rem;
        margin-left: -11rem;
    }
    .hero .down-arrow {
        margin: 2rem auto;
    }
}

@media screen and (min-width: 769px) {
    .hero {
        height: 55rem;
    }
    .website-headline .big {
        font-size: var(--size-l2);
    }
    .website-headline .small {
        font-size: var(--size-m2);
    }
    .hero .characters .castle {
        width: 20rem;
        margin-left: -26em;
        bottom: 27%;
    }
    .hero .characters .wizard {
        width: 8rem;
        margin-left: -24em;
        bottom: 13%;
    }
    .hero .characters .gam {
        width: 22rem;
        margin-left: -20rem;
        bottom: 0%;
    }
    .hero .characters .knight {
        width: 14rem;
        margin-left: 15rem;
        bottom: 14%;
    }
    .hero .characters .chasa {
        width: 22rem;
        margin-left: 2rem;
        bottom: 12%;
    }
    .hero .characters .man {
        width: 9rem;
        margin-left: 10rem;
        bottom: 22%;
    }
    .hero .characters .ahreum {
        width: 30rem;
        margin-left: -15rem;
    }
    .hero .down-arrow {
        width: 40px;
        height: 40px;
        margin: 2rem auto 3rem auto;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        height: 75rem;
    }
    .hero .container {
        margin: 0 auto;
    }
    .website-headline .big {
        font-size: var(--size-l1);
    }
    .website-headline .small {
        font-size: var(--size-m1);
    }
    .hero .characters .castle {
        width: 20rem;
        margin-left: -27em;
        bottom: 35%;
        opacity: 0.9;
        animation: ani-Ls 2s infinite ease-in-out;
    }
    .hero .characters .toilet {
        width: 16rem;
        margin-left: -33em;
        bottom: 20%;
        animation: ani-Ls 1.5s infinite ease-in-out;
    }
    .hero .characters .wizard {
        width: 8rem;
        margin-left: -32em;
        bottom: 9%;
        animation: ani-Lu 1.5s infinite ease-in-out;
    }
    .hero .characters .gam {
        width: 22rem;
        margin-left: -27rem;
        animation: ani-Rm 3s infinite ease-in-out;
    }
    .hero .characters .knight {
        width: 14rem;
        margin-left: 15.5rem;
        bottom: 14%;
        opacity: 0.8;
        animation: ani-Rl 4s infinite ease-in-out;
    }
    .hero .characters .chasa {
        width: 22rem;
        margin-left: 3rem;
        bottom: 26%;
        animation: ani-Ls 2.5s infinite ease-in-out;
    }
    .hero .characters .palace {
        width: 24rem;
        margin-left: 7rem;
        bottom: 7%;
        animation: ani-Rs 4s infinite ease-in-out;
    }
    .hero .characters .man {
        width: 9rem;
        margin-left: 14rem;
        bottom: 26%;
        animation: ani-Ru 2s infinite ease-in-out;
    }
    .hero .characters .ahreum {
        width: 42rem;
        margin-left: -21rem;
    }
    .hero .down-arrow {
        width: 40px;
        height: 40px;
        margin: 2rem auto 4rem auto;
    }
}

@media screen and (min-width: 1216px) {
    .hero {
        height: 85rem;
    }
    .website-headline .big {
        font-size: var(--size-l1);
    }
    .website-headline .small {
        font-size: var(--size-m1);
    }
    .hero .characters {
        /* overflow: hidden; */
    }
    .hero .characters .castle {
        width: 26rem;
        margin-left: -35em;
        bottom: 35%;
        opacity: 0.9;
        animation: ani-Ls 2s infinite ease-in-out;
    }
    .hero .characters .toilet {
        width: 20rem;
        margin-left: -40em;
        bottom: 20%;
        animation: ani-Ls 1.5s infinite ease-in-out;
    }
    .hero .characters .wizard {
        width: 12rem;
        margin-left: -39em;
        bottom: 10%;
        animation: ani-Lu 1.5s infinite ease-in-out;
    }
    .hero .characters .gam {
        width: 26rem;
        margin-left: -31rem;
        bottom: 0%;
        animation: ani-Rm 3s infinite ease-in-out;
    }
    .hero .characters .knight {
        width: 18rem;
        margin-left: 20rem;
        bottom: 8%;
        opacity: 0.8;
        animation: ani-Rl 4s infinite ease-in-out;
    }
    .hero .characters .chasa {
        width: 26rem;
        margin-left: 4rem;
        bottom: 22%;
        animation: ani-Ls 2.5s infinite ease-in-out;
    }
    .hero .characters .palace {
        width: 28rem;
        margin-left: 9rem;
        bottom: 0%;
        animation: ani-Rs 4s infinite ease-in-out;
    }
    .hero .characters .man {
        width: 13rem;
        margin-left: 14rem;
        bottom: 21%;
        animation: ani-Ru 2s infinite ease-in-out;
    }
    .hero .characters .ahreum {
        width: 48rem;
        margin-left: -25rem;
    }
    .hero .down-arrow {
        margin: 2rem auto 5rem auto;
        width: 50px;
        height: 50px;
    }​
}

@keyframes ani-Rs {
    0% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

@keyframes ani-Rm {
    0% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(9deg);
    }
}

@keyframes ani-Rl {
    0% {
        transform: rotate(13deg);
    }
    50% {
        transform: rotate(12deg);
    }
    100% {
        transform: rotate(13deg);
    }
}

@keyframes ani-Ru {
    0% {
        transform: matrix(0.99, 0.14, -0.14, 0.99, 0, -6);
    }
    50% {
        transform: matrix(0.98, 0.17, -0.17, 0.98, 0, 0);
    }
    100% {
        transform: matrix(0.99, 0.14, -0.14, 0.99, 0, -6);
    }
}

@keyframes ani-Ls {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes ani-Lm {
    0% {
        transform: rotate(-12deg);
    }
    50% {
        transform: rotate(-11deg);
    }
    100% {
        transform: rotate(-12deg);
    }
}

@keyframes ani-Lu {
    0% {
        transform: matrix(0.98, -0.17, 0.17, 0.98, 0, -6);
    }
    50% {
        transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
    }
    100% {
        transform: matrix(0.98, -0.17, 0.17, 0.98, 0, -6);
    }
}