.intro {
  text-align: center;
}
.button.is-large.cta-main {
  padding: 0.5rem 2rem;
  height: 40px;
  transition: all 0.3s;
}
.button.is-large.cta-main:hover {
  background-image: linear-gradient(155deg, #ff4264, #96005a);
}
@media screen and (min-width: 769px) {
  .button.is-large.cta-main {
    padding: 0.5rem 2.5rem;
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .button.is-large.cta-main {
    padding: 0.5rem 2.5rem;
    height: 60px;
  }
}
