.media .category-name {
  text-align: center;
}
.media .press-row {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid var(--gray3);
}
.media .press-row.last {
  margin-bottom: var(--space-m);
}
.media .article {
  color: var(--gray6);
  font-size: var(--size-s3);
  transition: all 0.3s;
}
.media .article:hover {
  color: var(--pink4);
  text-decoration: underline;
}
.media .media-columns {
  width: 80%;
  margin: 0 auto;
}
.media .media-column {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.media .logo {
  display: block;
  object-fit: contain;
  width: auto;
  height: auto;
  max-height: 4rem;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .media .press-row {
    width: 70%;
  }
  .media .media-columns {
    width: 80%;
    margin: 0 auto;
  }
  .media .media-column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .media .logo.tall {
    max-height: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .media .press-row {
    width: 70%;
  }
  .media .press-row.last {
    margin-bottom: var(--space-l);
  }
  .media .article {
    font-size: var(--size-s2);
  }
  .media .media-columns {
    margin: 0 auto;
  }
  .media .logo.tall {
    max-height: 6rem;
  }
}
