.portfolio article {
  margin-top: var(--space-s);
}
.portfolio article:last-child {
  margin-bottom: 0;
}
.project-image {
  margin-bottom: 1rem !important;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  aspect-ratio: 8 / 5.65;
  height: auto;
}
.project-image-big {
  margin-bottom: 0.5rem;
  padding: 0;
  background-color: var(--gray1);
  width: 100% !important;
  position: relative;
}
.project-image-big img {
  background-color: var(--gray1);
  margin-top: 3rem;
  /* width: 100%; */
  height: auto;
}
.project-image-name {
  position: absolute;
  top: 18%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.project-image-credit {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  bottom: 0.1%;
  right: 0;
  background-color: rgba(151, 151, 151, 0.3);
  color: var(--white);
}
.project-image-credit p {
  width: fit-content;
}
.project-image-small {
  display: none;
  background-color: var(--gray1);
}
.project-image-small img {
  background-color: var(--gray1);
  width: 32%;
  aspect-ratio: 5 / 4;
}
.project-image-big img,
.project-image-small img {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolio .category-name {
  margin-bottom: 1rem;
  color: var(--gray9);
}
.portfolio .description-big {
  color: var(--gray9);
}
.portfolio-introBtn {
  display: flex;
  align-items: center;
  width: 9.2rem;
  margin: 0.2rem auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67);
  /* transition: background 0.3s linear; */
  height: auto;
  position: relative;
  z-index: 1;
}
.portfolio-introBtn::before {
  border-radius: 1rem;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(155deg, #ff4264, #96005a);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.portfolio-introBtn:hover::before {
  opacity: 1;
}
a.portfolio-introBtn:hover {
  text-decoration: none;
}
.portfolio-introBtn img {
  background-color: transparent;
  width: 17px;
  margin-left: 5px;
  margin-top: 0;
}
.lock {
  width: 0.7rem;
  margin-top: 0 !important;
}
.private {
  margin-top: 0rem;
}
.private span {
  color: var(--pink5);
}
.project-text-description {
  margin: 0 !important;
}
.project-text-tags {
  display: flex;
  flex-wrap: wrap;
}
.project-tag {
  border: 1px solid;
  font-weight: bolder;
  padding: 0rem 0.4rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
}
.green-tag {
  border-color: #dfe999;
}
.green-tag .description-big {
  color: #a4b528;
}
.orange-tag {
  border-color: var(--orange1);
}
.orange-tag .description-big {
  color: var(--orange2);
}
.blue-tag {
  border-color: #d5e3f5;
}
.blue-tag .description-big {
  color: #7e98bb;
}
.purple-tag {
  border-color: #e1bff9;
}
.purple-tag .description-big {
  color: var(--purple1);
}
.project-tag img {
  width: 13px;
  height: 12px;
  margin-right: 3px;
}
.project-text-description .is-6 {
  padding: 0;
  line-height: 1.8;
  word-break: break-all;
}
.project-text-description .description-big {
  color: var(--gray8);
}
.project-text-description .description-big,
.project-text-description .table td {
  /* padding: 0em 0.75em 0.75em 0em; */
  border: none;
}
.project-text-description .column.is-3 {
  padding: 0;
  padding-top: 0.2rem;
}
.description-category {
  color: #c7c7c7;
}
.project-text-description .table td.description-category {
  padding-right: 1.3rem;
}
.project-text-description .table {
  display: none;
}
.project-text-description .column.is-3 td span a::after {
  content: "|";
  color: var(--gray6);
}
.project-text-description .column.is-3 td span:last-child a::after {
  content: "";
}

@media screen and (min-width: 426px) {
  .project-image-small {
    display: block;
    padding: 0;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-image-name {
    top: 17%;
  }
  .project-image-big img {
    margin-top: 0;
  }
  .portfolio-introBtn {
    width: 9.5rem;
  }
  .lock {
    width: 0.8rem;
  }
  .private {
    margin-top: 0.2rem;
  }
  .portfolio_image_small {
    width: 32%;
  }
}

@media screen and (min-width: 769px) {
  .portfolio article {
    margin-top: var(--space-m);
  }
  .project-image-big {
    width: 70.5% !important;
    margin-bottom: 0;
  }
  .project-image-name {
    top: 15%;
  }
  .project-image-small {
    width: 28.05% !important;
    flex-direction: column;
  }
  .project-image-small img {
    height: 31.8%;
    width: 100%;
  }
  .portfolio_image {
    justify-content: space-between;
  }
  .portfolio-introBtn {
    width: 10.5rem;
  }
  .button.portfolio-introBtn img {
    width: 20px;
  }
  .portfolio_image_big {
    margin-bottom: 0rem !important;
  }
  .private {
    margin-top: 0.3rem;
  }
  .portfolio_image_name {
    top: 11% !important;
  }
  .portfolio_image_small {
    width: auto;
  }
  .project-tag img {
    width: 18px;
    height: 16px;
    margin-right: 3px;
  }
  .project-text-tags {
    margin-bottom: 0rem;
  }
  .project-tag {
    padding: 0.2rem 0.6rem 0.3rem 0.6rem;
  }
  .project-text-description .description-big {
    padding: 0em 0.75em 0.75em 0em;
  }
  .project-text-description .table {
    display: block;
  }
  .project-text-description .table td {
    padding: 0em 0.25em 0.75em 0.25em;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio-image-name {
    top: 15%;
  }
  .portfolio article {
    margin-top: var(--space-l);
  }
  .portfolio-introBtn img {
    width: 22px;
  }
  .private {
    margin-top: 0.5rem;
  }
  .portfolio_tag img {
    width: 20px;
    height: 18px;
    margin-right: 5px;
  }
  .project-text-tags {
    margin-bottom: 0.5rem;
  }
  .project-text-description .table td {
    padding: 0em 0.75em 0.75em 0;
  }
  .project-text-description .description-big {
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 1216px) {
  .portfolio .is-5 {
    width: 33rem;
  }
}
