.portfolio-custom-process {
  position: relative;
  padding: 0;
  overflow: hidden;
  background-color: var(--gray1);
  /* border: 1px solid red; */
}
.portfolio-custom-process .photo {
  width: 120vw;
  max-width: 120vw;
  margin-left: -10vw;
  height: auto;
  /* border: 1px solid blue; */
}
.portfolio-custom-process .text {
  margin-top: 2rem;
  padding-bottom: var(--space-m);
  /* border: 1px solid green; */
}
.portfolio-custom-process .text .container {
  padding: 0 1rem;
  /* border: 1px solid yellow; */
}
.portfolio-custom-process .category-name {
  color: var(--gray9);
}
.portfolio-custom-process .question {
  @extend .description-big;
  font-size: 120%;
  font-family: var(--family-serif);
  margin: 0.5rem 0;
}
.portfolio-custom-process .answer {
  color: var(--gray7);
}
.portfolio-custom-process .holygrail {
  display: flex;
  min-height: 50px;
  flex-direction: column;
}
.custom-process-form {
  display: flex;
  flex: 1;
  margin-top: 2rem;
  /* border: 1px solid pink; */
}
.custom-process-form .icon {
  order: -1;
  flex: 0 0 75px;
  height: 100%;
  padding-right: 10px;
  /* border: 1px solid orange; */
}
.custom-process-form .icon img {
  order: -1;
}
.custom-process-form .form {
  flex: 1;
}

#mc_embed_signup {
  background-color: var(--gray1);
}
#mc_embed_signup form {
  padding: 0 !important;
}
#mc_embed_signup input.email {
  width: 100% !important;
  padding: 0.5rem var(--space-xs) !important;
  font-size: var(--size-s3) !important;
  border: var(--gray4) 1px solid;
  border-radius: 0.5rem;
  font-family: var(--family-sans-serif) !important;
  margin-bottom: 0.5rem;
}

#mc_embed_signup input.button {
  @extend .button;
  width: 100% !important;
  font-weight: bold;
  height: auto;
  margin: 0 !important;
  padding: 0.4rem !important;
  color: var(--white);
  font-family: var(--family-sans-serif) !important;
}
#mc_embed_signup input.button:hover {
  background-image: linear-gradient(155deg, #ff4264, #96005a);
}

@media screen and (min-width: 426px) {
  .portfolio-custom-process .question {
    margin: 1rem 0;
  }
  .portfolio-custom-process .answer {
    margin: 1rem 0;
  }
}
@media screen and (min-width: 769px) {
  .portfolio-custom-process .photo {
    width: 50%;
    margin-left: 0;
  }
  .portfolio-custom-process .text {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
  .portfolio-custom-process .text .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0;
  }
  .portfolio-custom-process .right {
    right: 0;
    width: 50%;
    height: fit-content;
    /* border: 1px solid purple; */
  }
  .custom-process-form .icon {
    flex: 0 0 90px;
  }
  #mc_embed_signup input.button {
    font-size: var(--size-s1) !important;
    padding: 0.5rem !important;
  }
  #mc_embed_signup input.email {
    font-size: var(--size-s2) !important;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio-custom-process .right {
    width: 45%;
  }
  .custom-process-form {
    width: 80%;
  }
  .custom-process-form .icon {
    flex: 0 0 100px;
    padding-right: 20px;
  }
}
