.portfolio {
  padding: var(--space-m) 0;
}
.portfolio article {
  margin-bottom: var(--space-m);
}
.portfolio article:last-child {
  margin-bottom: 0;
}
.tile.is-8.is-vertical.is-parent {
  width: 100%;
}
.tile.is-parent.is-4 {
  display: none;
}
.portfolio_image {
  min-height: auto !important;
}
.portfolio_image .tile.is-parent {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.portfolio_image_small {
  height: 32%;
  flex-grow: 0 !important;
}
.portfolio_image_small,
.portfolio_image_big {
  background-color: var(--gray1);
}
.portfolio_image_big img {
  height: auto;
  margin-top: 3rem;
}
.portfolio_image_big image,
.portfolio_image_small image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.portfolio_image_big {
  position: relative;
  margin-bottom: 0.5rem !important;
}
.portfolio_image_name {
  position: absolute;
  top: 17% !important;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio .category-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--gray9);
}
.portfolio .description-big {
  color: var(--gray9);
}
.portfolio_image_big a {
  font-size: 0.6rem;
}
.portfolio-introBtn {
  display: flex !important;
  align-items: center !important;
  width: 9.2rem;
  margin: 0.2rem auto;
  padding-top: 0.2rem !important;
  padding-bottom: 0.3rem !important;
  border-radius: 3rem !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-color: transparent; */
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67);
  transition: all 0.3s linear;
  /* position: relative; */

  /* z-index: -1; */
}
.portfolio-introBtn:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(155deg, #ff4264, #96005a);
  transition: all 0.5s;
}

.button.portfolio-introBtn img {
  background-color: transparent;
  width: 17px;
  margin-left: 6px;
  margin-top: 0;
}
.lock {
  margin-top: 0 !important;
  width: 0.7rem;
  margin-right: 0.3rem;
}
.private {
  margin-top: 0rem;
}
.private span {
  color: var(--pink5);
}
.tile.is-parent.is-4 {
  display: none;
}
.portfolio_text_description {
  margin: 0 !important;
}
.portfolio_text_tags {
  display: flex;
  flex-wrap: wrap;
}
.portfolio_tag {
  border: 1px solid;
  font-weight: bolder;
  padding: 0rem 0.4rem 0.1rem 0.4rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.green-tag {
  border-color: #dfe999;
}
.green-tag .description-big {
  color: #a4b528;
}
.orange-tag {
  border-color: #ffcdb6;
}
.orange-tag .description-big {
  color: #ff9e70;
}
.blue-tag {
  border-color: #d5e3f5;
}
.blue-tag .description-big {
  color: #7e98bb;
}
.purple-tag {
  border-color: #e1bff9;
}
.purple-tag .description-big {
  color: #b579df;
}
.portfolio_tag img {
  width: 13px;
  height: 12px;
  margin-right: 3px;
}
.portfolio_text_description .is-6 {
  padding: 0;
  line-height: 1.8;
  word-break: break-all;
}
.portfolio_text_description .description-big {
  color: var(--gray8);
}
.portfolio_text_description .description-big,
.portfolio_text_description .table td {
  padding: 0em 0.75em 0.75em 0em;
}
.portfolio_text_description .column.is-3 {
  padding: 0;
  padding-top: 0.2rem;
}
.description-category {
  color: #c7c7c7;
}
.portfolio_text_description .table {
  display: none;
}
.portfolio_text a {
  transition: all 0.3s;
}
.portfolio_text a:hover {
  /* color: #c00073; */
  text-decoration: underline;
}
.portfolio-external-link::after {
  content: "|";
  color: var(--gray6);
  margin-left: 1px;
}

.portfolio__custom-process {
  background-color: var(--gray1);
}
.portfolio__custom-process .columns {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.custom-process-form {
  flex-direction: row !important;
  margin: 2rem 5rem 0 5rem;
}
.portfolio__custom-process .column {
  padding: 0;
}
.portfolio__custom-process .category-name {
  color: var(--gray9);
  margin-top: 1rem;
}
.portfolio__custom-process .question {
  font-family: var(--family-serif);
  margin: 0.5rem 0;
}
.custom-process-form {
  margin-top: var(--space-x) !important;
  margin-left: 0.5rem;

  /* margin-left: 1rem !important; */
}
.portfolio__custom-process .text {
  padding: var(--space-xs);
}
.custom-process-form .column {
  margin: var(--space-xs) auto;
  flex-basis: content;
}
.custom-process-form {
  margin-left: 0 !important;
}
.custom-process-form img {
  width: 90%;
  max-width: 80px;
}
#mc_embed_signup {
  background: #f9f9f9;
  clear: left;
  font-family: var(--family-sans-serif) !important;
  width: 15rem;
}
#mc_embed_signup form {
  padding: 0 !important;
}
#mc_embed_signup .button {
  height: auto !important;
  padding: 0rem !important;
}
#mc_embed_signup input.email {
  width: 100% !important;
  padding: 0.9rem var(--space-xs) !important;
  font-size: var(--size-s3) !important;
  border: var(--gray4) 1px solid;
  border-radius: 0.5rem;
}
#mc_embed_signup input.button {
  width: 100% !important;
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67) !important;
  font-size: var(--size-s2) !important;
  font-weight: 800;
}

.portfolio__ar {
  padding: var(--space-s) var(--space-xs);
  text-align: center;
  background-color: var(--gray1);
}
.portfolio__ar .description-big,
.portfolio__ar .category-name {
  text-align: left;
}
.portfolio__ar .game-format {
  margin-top: 3rem;
}
.portfolio__ar .game-format .column {
  padding: 1rem 0;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}
.game-format {
  margin: 0 1rem;
}
.game-format .description-small {
  color: var(--gray7);
}
.portfolio__ar .game-format .column-fill {
  display: block;
  margin: 0 auto;
}
.portfolio__ar .game-format .board img {
  width: 50%;
}
.portfolio__ar .game-format .AR img {
  width: 75%;
}

@media screen and (min-width: 426px) {
  .tile.is-8.is-vertical.is-parent {
    width: 100%;
  }
  .portfolio_image_name {
    top: 11% !important;
  }
  .portfolio .category-name {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .portfolio-introBtn {
    width: 9.5rem;
  }
  .portfolio_image_big a {
    font-size: 0.6rem;
  }
  .lock {
    width: 0.8rem;
    height: 0.9rem;
    margin-right: 0.3rem;
  }
  .private {
    margin-top: 0.2rem;
  }
  .tile.is-parent.is-4 {
    display: flex;
    justify-content: space-between;
  }
  .portfolio_image_small {
    width: 32%;
  }
  #mc_embed_signup {
    width: 20rem;
  }
  .custom-process-form img {
    width: 60%;
  }
  .portfolio__custom-process .question {
    margin: 1rem 0;
  }
  .portfolio__custom-process .answer {
    text-align: left;
    margin: 1rem 0;
  }
  .portfolio__ar {
    padding: var(--space-s);
  }
  .portfolio__ar .game-format {
    display: flex;
  }
  .portfolio__ar .game-format .column {
    flex-basis: auto;
    padding: 0;
  }
}

@media screen and (min-width: 769px) {
  .portfolio {
    padding: var(--space-l) 0;
  }
  .portfolio_image {
    justify-content: space-between;
  }
  .portfolio .category-name {
    margin-top: 4rem;
  }
  .portfolio-introBtn {
    width: 10.5rem;
  }
  .tile.is-8.is-vertical.is-parent {
    width: 70.1%;
    height: 100%;
  }
  .portfolio_image .tile.is-parent.is-4 {
    flex-direction: column;
    width: 27.8%;
    padding-bottom: 6px;
  }
  .button.portfolio-introBtn img {
    width: 20px;
  }
  .portfolio_image_big {
    margin-bottom: 0rem !important;
  }

  .private {
    margin-top: 0.3rem;
  }
  .portfolio_image_name {
    top: 11% !important;
  }
  .portfolio_image_small {
    width: auto;
  }

  .portfolio_tag img {
    width: 18px;
    height: 16px;
    margin-right: 3px;
  }
  .portfolio_text_tags {
    margin-bottom: 0rem;
  }
  .portfolio_tag {
    padding: 0.2rem 0.6rem 0.3rem 0.6rem;
  }
  .portfolio_text_description .table {
    display: block;
  }
  .portfolio_text_description .table td {
    padding: 0em 0.25em 0.75em 0.25em;
  }
  .portfolio_text_description .description-big {
    padding-right: 1.5rem;
  }

  .portfolio__custom-process .columns {
    flex-direction: row;
  }
  .portfolio__custom-process .custom-process-form {
    margin: var(--space-xs) 0 0 0;
  }
  .custom-process-form img {
    width: 70%;
    max-width: 100px;
  }
  #mc_embed_sidnup {
    width: 15rem;
  }
  #mc_embed_signup input.button {
    font-size: var(--size-s1) !important;
    padding: 0.5rem !important;
  }
  #mc_embed_signup input.email {
    font-size: var(--size-s2) !important;
  }
  .portfolio__ar {
    padding: var(--space-m) var(--space-s);
  }
  .portfolio__ar .game-format .column {
    padding: 1.5rem;
    /* padding-top: 1.5rem;
    padding-bottom: 3rem; */
    /* flex-basis: 0; */
  }
  .portfolio__ar .game-format .board img {
    width: 10rem;
  }
  .portfolio__ar .game-format .AR img {
    width: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    padding: var(--space-xl) 0;
  }
  .portfolio article {
    margin-bottom: var(--space-l);
  }
  .portfolio article:last-child {
    margin-bottom: 0;
  }
  .portfolio-introBtn img {
    width: 22px;
  }
  .portfolio_image_big a {
    font-size: 0.8rem;
  }
  .private {
    margin-top: 0.5rem;
  }

  .portfolio_tag img {
    width: 20px;
    height: 18px;
    margin-right: 5px;
  }
  .portfolio_text_tags {
    margin-bottom: 0.5rem;
  }
  .portfolio_text_description .table td {
    padding: 0em 0.75em 0.75em 0;
  }
  .portfolio_text_description .description-big {
    padding-right: 2.5rem;
  }

  .custom-process-form img {
    width: 90%;
  }
  .portfolio__custom-process .custom-process-form {
    margin: 0 0 0 0;
  }
  #mc_embed_signup input.button {
    font-size: var(--size-m3) !important;
    padding: 0.6rem !important;
  }
  #mc_embed_signup input.email {
    font-size: var(--size-s1) !important;
    padding: 0.7rem var(--space-xs) !important;
  }
  .portfolio__ar {
    padding: var(--space-m) var(--space-s);
  }
  .portfolio__ar .game-format {
    margin-top: -0.5rem;
  }
  .portfolio__ar .game-format .column {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1216px) {
  .portfolio .is-5 {
    width: 33rem;
  }
  #mc_embed_signup .button {
    padding: 0.8rem !important;
  }
  #mc_embed_signup input.email {
    padding: 0.9rem var(--space-xs) !important;
  }
  .portfolio__ar {
    padding: var(--space-m) var(--space-l);
  }
}
@media screen and (min-width: 1441px) {
  .portfolio__ar .game-format .column {
    padding: 1.5rem 3rem 3rem 3rem;
  }
}
