.about {
  padding: 0;
  margin: 12.5rem 0 0 0;
  background-color: #f9f9f9;
}
.about .image {
  position: relative;
  width: 80%;
  background-color: #f2f2f2;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 2rem auto;
}
.about .image .photo {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  top: 0;
  left: 0;
}
.about .column-fill {
  width: 100%;
}
.about .text {
  display: block;
  width: 100%;
  text-align: center;
}
.about .columns.is-gapless {
  display: flex;
}
.about .my-name {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  color: #353535;
  margin-left: -0.5rem;
  padding-left: 1rem;
  text-align: left;
  margin: 1rem 0 1rem 0;
}
.about .my-mission {
  line-height: 1.5;
  color: #959595;
  font-size: 0.9rem;
  text-align: left;
  padding-left: 1rem;
}
@media screen and (min-width: 426px) {
  .about .my-name {
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
  }
  .about .my-mission {
    font-size: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 769px) {
  .about {
    /* padding-bottom: 8rem; */
  }
  .about .image {
    width: 100%;
    margin-bottom: 0;
  }
  .about .text {
    margin-left: 3rem;
  }
  .about .my-name {
    font-size: 3rem;
    text-align: left;
    margin: 3rem 0 1rem 0;
  }
  .about .my-mission {
    font-size: 1rem;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .about .text {
    margin-left: 1rem;
  }
  .about .my-name {
    font-size: 2rem;
    margin: 4rem 0 1rem 0;
  }
  .about .my-mission {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1216px) {
  .about .my-mission {
    font-size: 1.6rem;
  }
  .about .my-name {
    font-size: 3rem;
  }
}
