.footer {
  background-color: var(--gray1);
}
.footer p {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}
.footer a,
.footer a:visited {
  color: #b3364f;
  font-size: 0.8rem;
}
.footer a:hover {
  color: var(--pink3);
}
@media screen and (min-width: 769px) {
  .footer p {
    font-size: 1rem;
  }
  .footer a,
  .footer a:visited {
    font-size: 1rem;
  }
}
