:root {
  /* font */
  --family-sans-serif: "Noto Sans KR", sans-serif;
  --family-serif: "Nanum Myeongjo", serif;

  /* color */
  --white: #fff;
  --black: #000;
  --gray1: #f9f9f9;
  --gray2: #f2f2f2;
  --gray3: #ebebeb;
  --gray4: #e2e2e2;
  --gray5: #d4d4d4;
  --gray6: #bbbbbb;
  --gray7: #959595;
  --gray8: #575757;
  --gray9: #353535;
  --gray10: #1a1a1a;

  --pink1: #ffccd6;
  --pink2: #ffb2c2;
  --pink3: #ff99ad;
  --pink4: #ff8099;
  --pink5: #f7607d;
  --pink6: #d95771;
  --pink7: #b2364f;
  --pink8: #8c1c32;
  --pink9: #660a1d;
  --pink10: #40000d;

  --orange1: #ffcdb6;
  --orange2: #ff9e70;
  --green1: #f7fcd3;
  --green2: #ebf4a8;
  --blue1: #8fa8ca;
  --blue2: #3a577e;
  --purple1: #b579df;
  --purple2: #5c2186;

  --grey-dark: $gray8;
  --grey-light: $gray2;
  --primary: $pink5;
  --link: $pink7;

  /* margin & padding size */
  --space-xl: 12.5rem;
  --space-l: 8.75rem;
  --space-m: 5rem;
  --space-s: 3rem;
  --space-xs: 1rem;

  /* font size */
  --size-l1: 9.375rem;
  --size-l2: 7.5rem;
  --size-l3: 5rem;
  --size-m1: 3.75rem;
  --size-m2: 3rem;
  --size-m3: 1.875rem;
  --size-s1: 1.5rem;
  --size-s2: 1.125rem;
  --size-s3: 1rem;
  --size-s4: 0.9rem;
}

html {
  /* font size for html = 1rem */
  /* 100% means 16px by default */
  /* 1vw = 1% of screen width */
  /* mobile-first media query */
  font-size: 92%;
  /* override elements that don't inherit */
  word-break: keep-all;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}
@media screen and (min-width: 769px) {
  html {
    font-size: 95%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
html button {
  font-size: inherit;
}
html input {
  font-size: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column-fill {
  display: flex;
}

figure,
figure img,
img {
  width: 100%;
  height: 100%;
}

.button {
  cursor: pointer;
}

.button.is-large {
  font-size: 1.9rem;
}

strong,
.strong {
  font-weight: bold !important;
}

.emphasis {
  color: #fff;
}

.stretch-vertical {
  display: flex !important;
  align-items: stretch;
}

.is-vertical-middle {
  display: flex;
  align-items: center;
}

.tight-columns {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 769px) {
  .tight-columns {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

section {
  padding: var(--space-m) 0;
}
@media screen and (min-width: 769px) {
  section {
    padding: var(--space-l) 0;
  }
}
@media screen and (min-width: 1024px) {
  section {
    padding: var(--space-xl) 0;
  }
}
.section-name {
  margin-bottom: 1.5rem;
  color: #1a1a1a;
  font-family: var(--family-serif);
  font-weight: 700;
  text-align: center;
  font-size: var(--size-m2);
  line-height: 1.2;
}
@media screen and (min-width: 769px) {
  .section-name {
    font-size: var(--size-m1);
  }
}
@media screen and (min-width: 1024px) {
  .section-name {
    font-size: var(--size-l3);
  }
}

.container {
  margin: 0 var(--space-s);
}
/* @media screen and (min-width: 426px) {
  .container {
    margin: 0 var(--space-s);
  }
} */
@media screen and (min-width: 769px) {
  .container {
    margin: 0 var(--space-m);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin: 0 8.2rem;
  }
}
@media screen and (min-width: 1441px) {
  .container {
    margin: 0 auto;
  }
}
.section-description {
  margin-bottom: 1rem;
  color: #575757;
  font-size: var(--size-s3);
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .section-description {
    font-size: var(--size-s2);
  }
}
@media screen and (min-width: 1024px) {
  .section-description {
    font-size: var(--size-s1);
  }
}

.category-name {
  margin-bottom: 1.5rem;
  font-size: var(--size-m3);
  color: var(--gray10);
  line-height: 1.2;
  font-family: var(--family-serif);
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  .category-name {
    font-size: var(--size-m2);
  }
}
@media screen and (min-width: 1024px) {
  .category-name {
    font-size: var(--size-m2);
  }
}

.cta-main {
  font-weight: bold !important;
  font-size: var(--size-s2) !important;
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67);
  /* transition: all 0.3s; */
  position: relative;
  z-index: 1;
}
.cta-main::before {
  position: absolute;
  border-radius: 0.3rem;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(155deg, #ff4264, #96005a);
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.cta-main:hover::before {
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .cta-main {
    font-size: var(--size-s1) !important;
  }
}
@media screen and (min-width: 1024px) {
  .cta-main {
    font-size: var(--size-m3) !important;
  }
}

a {
  color: var(--pink5);
  transition: all 0.3s;
}
a:hover {
  color: #c00073;
  text-decoration: underline;
}

.button.is-large {
  font-size: 2rem;
  /* padding-left: 1.5em;
    padding-right: 1.5em; */
  border-radius: 0.25em;
}

.description-big {
  font-size: var(--size-s3);
}
.description-small {
  font-size: var(--size-s4);
}
@media screen and (min-width: 769px) {
  .description-big {
    font-size: var(--size-s2);
  }
  .description-small {
    font-size: var(--size-s3);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
