.portfolio-custom-process {
  background-color: var(--gray1);
  padding: 0;
}
.portfolio-custom-process .container {
  margin: 0;
}
.portfolio-custom-process .columns {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio-custom-process .column.is-5 {
  padding: 0 3rem !important;
}
.portfolio-custom-process .text {
  padding-bottom: var(--space-xs);
}
.custom-process-form {
  flex-direction: row !important;
  margin: 1rem 0 !important;
}
.portfolio-custom-process .column {
  padding: 0;
}
.portfolio-custom-process .category-name {
  color: var(--gray9);
  margin-top: 1rem;
}
.portfoli-custom-process .question {
  font-family: var(--family-serif);
  margin: 0.5rem 0;
}
.custom-process-form .column {
  margin-top: 1rem;
  flex-basis: auto;
  flex-grow: 0;
}
.custom-process-form .column.is-3 {
  width: 25%;
}
.custom-process-form .column.is-9 {
  width: 75%;
}
.custom-process-form img {
  width: 80%;
}
#mc_embed_signup {
  background-color: var(--gray1);
}
#mc_embed_signup form {
  padding: 0 !important;
}
#mc_embed_signup input.email {
  width: 100% !important;
  padding: 0.9rem var(--space-xs) !important;
  font-size: var(--size-s3) !important;
  border: var(--gray4) 1px solid;
  border-radius: 0.5rem;
  font-family: var(--family-sans-serif) !important;
}
#mc_embed_signup input.button {
  width: 100% !important;
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67) !important;
  font-size: var(--size-s2) !important;
  font-weight: 800;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--family-sans-serif) !important;
}

@media screen and (min-width: 426px) {
  .custom-process-form img {
    width: 65%;
  }
  .portfolio-custom-process .question {
    margin: 1rem 0;
  }
  .portfolio-custom-process .answer {
    text-align: left;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-custom-process .container {
    margin: 0 var(--space-m) 0 0;
  }
  .portfolio-custom-process .columns {
    flex-direction: row;
  }
  .portfolio-custom-process .column.is-7 {
    position: relative;
    width: 80%;
  }
  .portfolio-custom-process .column.is-5 {
    position: absolute;
    right: 0;
    padding: 0 !important;
  }
  .portfolio-custom-process .text {
    padding-bottom: 0;
  }
  .custom-process-form img {
    width: 80%;
  }
  #mc_embed_signup input.button {
    font-size: var(--size-s1) !important;
    padding: 0.5rem !important;
  }
  #mc_embed_signup input.email {
    font-size: var(--size-s2) !important;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio-custom-process .container {
    margin: 0 8.2rem 0 0;
  }
  .portfolio-custom-process .column.is-7 {
    width: 70%;
  }
  #mc_embed_signup input.button {
    font-size: var(--size-m3) !important;
    padding: 0.6rem !important;
    height: 60px;
  }
  #mc_embed_signup input.email {
    font-size: var(--size-s1) !important;
    padding: 0.7rem var(--space-xs) !important;
  }
}

@media screen and (min-width: 1216px) {
  .portfoli-custom-process .column.is-7 {
    width: 62%;
  }
  #mc_embed_signup .button {
    padding: 0.8rem !important;
  }
  #mc_embed_signup input.email {
    padding: 0.9rem var(--space-xs) !important;
  }
  .custom-process-form img {
    width: 90%;
    max-width: 106px;
  }
}

@media screen and (min-width: 1441px) {
  .portfolio-custom-process .container {
    margin: 0 auto;
  }
  .custom-process-form img {
    width: 100%;
    max-width: 106px;
  }
}
